
body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: rgb(79, 89, 231);

}
.quem-somos {
    background-color: rgb(71, 112, 173);
    color: whitesmoke;
}
.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros
{
    background-color: rgb(52, 104, 163);
}

.bg-footer{
    background-color: black;
    color: white;
}